@tailwind base;
@tailwind components;
@tailwind utilities;
@import "mixins";
@import "utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
 @apply  w-2 bg-transparent
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400 rounded-full ;
}

.create-message-input::-webkit-scrollbar {
  width: 2px;
}



/* Global Components.. Inputs, Buttons... etc */
@layer components {
  input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none focus:border-indigo-500 focus:ring-indigo-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-indigo-500   dark:focus:ring-indigo-500;
  }
  [type="file"] {
    @apply block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:placeholder-gray-400;
  }

  textarea {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none focus:border-indigo-500 focus:ring-indigo-500 dark:border-gray-600 dark:bg-zinc-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-indigo-500 dark:focus:ring-indigo-500;
  }

  .btn {
    @apply rounded-md  py-2 px-3 font-bold text-zinc-300 transition-all duration-200 ease-linear hover:bg-opacity-80;
  }
  .btn-primary {
    @apply btn bg-indigo-500;
  }
  .btn-secondary {
    @apply btn bg-violet-500;
  }

  .login-input {
    @apply w-full rounded bg-gray-100
    p-1 pl-1 font-sans font-semibold 
    text-gray-500  placeholder-gray-500
    shadow-lg outline-none;
  }

  .content-list {
    @apply flex  w-full flex-col-reverse overflow-auto  pb-24;
  }

  .create-message-bar {
    background-image: linear-gradient(
      180deg,
      rgba(53, 55, 64, 0),
      #3f3f46 58.85%
    );
  }
  .create-message-input {
    @apply ml-0 mr-auto w-20  cursor-text bg-transparent font-semibold text-gray-500 placeholder-gray-500 outline-none focus:w-full;
  }

  .server-members-bar {
    @apply m-0  h-auto  w-64 overflow-hidden bg-gray-200 shadow-lg transition-all duration-300 dark:bg-zinc-800;
  }
  .server-members-bar-collapsed {
    @apply h-0 w-0 cursor-none overflow-hidden bg-zinc-800  opacity-0 transition-all duration-300;
  }

  .dialog-title {
    @apply mb-2 text-lg font-medium leading-6 text-gray-300;
  }
  .dialog-modal {
    @apply w-full max-w-xl transform overflow-hidden rounded-2xl bg-zinc-800 p-6 text-left align-middle shadow-xl shadow-zinc-800 transition-all;
  }
}

/* Create Server Form/Modal*/
@layer components {
  .upload-preview-image {
    @apply mt-5 h-32 w-32 rounded-full object-cover;
  }

  .file-upload-input {
    @apply block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:placeholder-gray-400;
  }
}

/* Sidebar / Server Selection  */
@layer components {
  .sidebar {
    @apply fixed   top-0 left-0 z-50 flex max-h-screen min-h-screen w-16 flex-col  bg-gray-200 shadow-lg dark:bg-zinc-900;
  }
  .sidebar::-webkit-scrollbar {
    width: 2px;
    height: 2px;

    background-color: transparent;
  }
  .sidebar-hr {
    @apply mx-2 rounded-full border border-gray-700 bg-gray-800;
  }
  .sidebar-icon {
    @apply relative mx-auto mt-2 mb-2 
    flex h-12 w-12   cursor-pointer items-center  
    justify-center rounded-3xl bg-gray-400 
  text-green-500 shadow-lg
  
    transition-all duration-300 
    ease-linear hover:rounded-xl hover:bg-green-600
    hover:text-white dark:bg-gray-800;
  }

  .sidebar-tooltip {
    z-index: 999999 !important;
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md
    bg-zinc-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100;
  }
  .sidebar-user-tooltip {
    @apply absolute bottom-12 z-50 m-2 w-96  min-w-max  origin-bottom-left rounded-md   bg-zinc-900
    text-xs  
    font-bold text-white 
    shadow-lg shadow-zinc-900 transition-all duration-100;
  }

  .server-selection {
    z-index: -99999 !important;
    @apply my-2 flex  
         snap-y  flex-col  items-start   justify-start  scroll-smooth pl-1.5;
  }
  .server-selection::-webkit-scrollbar {
    display: none;

    background-color: transparent;
  }
  .server-selection::-webkit-scrollbar-thumb {
    @apply bg-gray-500 dark:bg-transparent;
  }

  .server-icon-image {
    @apply h-12 w-12 rounded-3xl  object-cover transition-all duration-300 ease-linear hover:rounded-xl;
  }

  .active-server-icon-image {
    @apply h-12 w-12  rounded-xl border-2 border-white object-cover  transition-all duration-300 ease-linear;
  }

  .server-icon-bubble {
    @apply absolute -left-3.5 h-3 w-3 rounded-full bg-white transition-all duration-300   ease-linear;
  }
  .active-server-icon-bubble {
    @apply absolute -left-3.5 h-10 w-3 rounded-full bg-white transition-all duration-300   ease-linear;
  }
}
/* Top Navigation */
@layer components {
  .top-navigation {
    @apply z-10  shadow-md   flex w-full  
    items-center justify-evenly bg-gray-300 
    py-2 pr-12
     
    dark:bg-zinc-700;
  }

  .top-navigation-icon {
    @apply mr-3
    ml-4 cursor-pointer
    text-gray-500 transition duration-300 
    ease-in-out 
    hover:text-pink-400;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply my-auto ml-2 text-lg font-semibold 
    tracking-wider text-gray-400;
  }

  .channel-room-title{
    @apply my-auto mr-auto ml-2 text-2xl font-bold 
    tracking-wider text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-indigo-400;
  }

  /* .search {
    @apply z-10 ml-0 mr-0 flex h-9 
    w-1/5 items-center
    justify-start
    rounded-md bg-gray-400 px-2 text-gray-500 
    shadow-md transition
    duration-300 ease-in-out dark:bg-gray-600;
  } */

  /* .search-input {
    @apply w-full rounded bg-transparent
    pl-1 font-sans 
    font-semibold  text-gray-500
    placeholder-gray-500 outline-none;
  } */
}

/* Channels Bar && Server Options Menu */
@layer components {
  .channel-bar {
    @apply m-0 flex h-auto w-60 max-w-xs   flex-col justify-between  bg-gray-200 shadow-lg dark:bg-zinc-800;
  }

  .channel-container {
    @apply m-0 flex h-16 flex-col items-center justify-start p-0;
  }

  .channel-block {
    @apply m-0 flex h-16 items-center justify-center p-0;
  }

  .channel-block-text {
    @apply my-auto  mr-auto ml-4 align-middle text-lg font-bold tracking-wide text-gray-600 dark:text-gray-400;
  }

  .chevron-icon {
    @apply my-auto mr-1 text-opacity-80;
  }
  .dropdown {
    @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply mx-0 flex cursor-pointer flex-row items-center justify-evenly text-gray-500;
  }

  .dropdown-header-text {
    @apply cursor-default  text-lg 
    font-semibold text-gray-500
    text-opacity-90;
  }

  .dropdown-header-text-selected {
    @apply text-lg font-bold text-blue-500 text-opacity-90;
  }

  .dropdown-selection {
    @apply mt-1 mr-auto ml-2 flex 
    cursor-pointer flex-row items-center
    justify-evenly transition duration-300
    ease-in-out;
  }

  .dropdown-selection-text {
    @apply mr-auto cursor-pointer font-semibold
    tracking-wide 
     transition duration-300 
    ease-in-out hover:text-pink-500
    dark:hover:text-green-500;
  }
  .user-bar {
    @apply relative w-full cursor-pointer bg-zinc-900 p-1;
  }
  .user-bar-container {
    @apply flex gap-x-2 rounded-md p-1 transition-all ease-linear  hover:bg-zinc-700;
  }

  .user-modal {
    @apply sidebar-user-tooltip;
  }
  .user-modal-banner {
    @apply rounded-t-md bg-red-100 py-8;
  }
  .user-modal-user-image {
    @apply absolute left-3 top-6 rounded-full border-8 border-zinc-700 shadow-md;
  }

  .server-options {
    @apply absolute  z-10  flex w-full flex-col items-start justify-center rounded-lg  p-2 text-white transition-all ease-linear;
  }
  .server-options-container {
    @apply w-full rounded bg-zinc-900 p-2;
  }
  .server-options-btn {
    
    @apply flex w-full px-2  items-center justify-between truncate    shadow-md  font-bold text-white focus:bg-zinc-600 focus:outline-none transition-colors;
  }
  .server-options-selection {
    @apply my-1  flex  w-full  items-center justify-between rounded-sm   p-2 text-zinc-300 transition-all ease-linear hover:bg-indigo-600 hover:text-white;
  }
}

/* Message Content */
@layer components {
  .message {
    @apply relative m-0  flex w-full    flex-row items-center justify-evenly rounded-sm px-4 py-8 transition-all
   hover:bg-zinc-800
    hover:bg-opacity-30
    hover:shadow-md
    hover:transition-all;
  }

  .message-container {
    @apply relative h-full pb-16 flex-1 items-stretch    overflow-hidden bg-gray-300   dark:bg-zinc-700;
  }
  .message-filtered {
    @apply relative  m-0  flex w-full  flex-row items-center justify-evenly rounded-sm bg-gray-800 py-4 px-8 
 transition-all
    hover:bg-opacity-50
    hover:shadow-md
    hover:transition-all;
  }

  .message-content {
    @apply ml-auto flex w-4/5 flex-col justify-start;
  }

  .message-options {
    @apply absolute top-2 right-2    opacity-0 group-hover:opacity-100;
  }
  .message-options-container {
    @apply flex gap-x-2 rounded   bg-zinc-700 p-1 shadow-sm transition-all hover:shadow-md hover:shadow-zinc-900;
  }
  .message-options-icon {
    @apply relative p-2 transition-all ease-linear hover:bg-zinc-600;
  }
  .message-timestamp {
    @apply ml-3 font-normal text-black dark:text-gray-300;
  }
  .message-options-tooltip {
    @apply absolute  bottom-8  z-50  w-auto min-w-max origin-left scale-0 rounded-md
    bg-zinc-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100
    group-hover/item:scale-100;
  }

  .message-user-avatar-status {
    @apply relative  ml-auto mb-auto flex  flex-col items-center;
  }
  .message-icon-tooltip {
    @apply absolute bottom-8 right-0 z-50  w-auto min-w-max origin-left scale-0 rounded-md
    bg-zinc-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100
    group-hover/item:scale-100;
  }
  .message-icon-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .newest-message {
    @apply absolute bottom-16 right-0 mr-5  transition-all group-hover:opacity-0;
  }
  .newest-message-container {
    @apply relative w-full rounded-lg bg-red-400 px-3 pb-0.5 text-sm font-bold text-white;
  }

  .newest-message-line {
    @apply absolute top-1/2 right-32  z-0 ml-32 w-full   rounded-full border border-red-400 bg-red-400;
  }

  .new-date {
    @apply relative ml-3 flex items-center;
  }
  .new-date-text {
    @apply w-20  text-center text-sm font-semibold text-zinc-400;
  }
  .avatar-wrapper {
    @apply m-0 ml-auto mb-auto flex w-12 flex-col items-center;
  }

  .avatar {
    @apply mx-0  mb-auto mt-0 h-12 w-12  cursor-pointer rounded-full bg-gray-100 object-cover object-top shadow-md shadow-zinc-500 dark:shadow-zinc-900;
  }

  .message-owner {
    @apply font-bold  text-red-500;
  }

  .timestamp {
    @apply ml-3 font-normal text-black dark:text-gray-300;
  }

  .message-text {
    @apply text-lg font-semibold dark:text-gray-300;
  }

  .message-text-link {
    @apply font-semibold text-blue-500 hover:underline;
  }
  .message-like-container {
    @apply relative flex w-16  items-center gap-x-2 rounded-xl border-2 border-indigo-500 p-1 text-xl font-bold text-zinc-300;
  }
  .message-like-tooltip {
    @apply absolute bottom-12 left-0 w-72 origin-bottom-left   scale-0 rounded-lg  bg-zinc-900 p-2 text-zinc-300  transition-all ease-linear group-hover/like:scale-100;
  }
  .message-like-tooltip-container {
    @apply flex items-center gap-x-2 rounded-xl    p-1 text-sm font-bold text-zinc-300;
  }

  .markdown {
    @apply scrollbar-h-sm overflow-x-scroll font-sans text-lg text-zinc-300 ;
  }
  pre {
    @apply rounded-b-xl  scrollbar-h-sm;
  }
  
  .markdown-container {
    @apply mt-3 rounded-t-xl;
  }
  .markdown-banner {
    @apply flex justify-between rounded-t-md bg-zinc-900 p-2;
  }
  .markdown-copy-btn {
    @apply rounded-lg bg-zinc-700 p-1 px-2 hover:bg-opacity-90 active:bg-indigo-400;
  }
}

/* Direct Messages */
@layer components {
  .direct-messages-container {
    @apply max-h-screen w-full overflow-hidden bg-gray-300   dark:bg-zinc-700;
  }

  .direct-messages-list {
    @apply flex   max-h-screen w-full flex-col-reverse;
  }
  .friends-bar {
    @apply m-0 flex h-auto  w-80 flex-col  justify-between bg-gray-200 shadow-lg dark:bg-zinc-800;
  }
  .tab-list {
    @apply w-full rounded-sm py-2.5 text-sm  font-medium leading-5 text-zinc-300 ring-0 transition-all duration-150  ease-linear hover:bg-white/[0.12] focus:outline-none;
  }
  .active-tab-list {
    @apply tab-list    bg-indigo-600 shadow-md;
  }

  .add-friend-input {
    @apply z-10 w-full appearance-none rounded-md border-2  border-green-400 border-transparent   bg-zinc-900 p-5 leading-tight text-white shadow transition-all duration-200 ease-linear placeholder:text-zinc-300 focus:border-2 focus:border-indigo-500 focus:outline-none active:border-indigo-500;
  }

  .send-friend-request-button {
    @apply absolute right-3  bottom-7 z-50 cursor-pointer rounded-md bg-indigo-700 p-2 font-semibold text-white transition-all duration-150 ease-linear hover:bg-opacity-80;
  }
  .send-friend-request-button-disabled {
    @apply send-friend-request-button cursor-not-allowed opacity-50;
  }
  .user-list {
    @apply max-h-72 overflow-y-auto  rounded-sm  p-1;
  }

  .user-list-item {
    @apply my-2  w-1/3 cursor-pointer rounded-md bg-zinc-700 p-2 text-zinc-100 transition-all duration-150 ease-linear hover:bg-opacity-70;
  }
  .active-user-list-item {
    @apply user-list-item  border-2 border-indigo-500 p-2;
  }
}

/* Explore Servers */
@layer components {
  .explore-banner {
    @apply relative mt-8 flex items-center justify-center;
  }

  .server-card {
    @apply relative  m-3 h-auto w-full overflow-hidden rounded-xl     text-white shadow-sm transition-all duration-200 ease-in-out hover:scale-105 hover:bg-gradient-to-t hover:from-zinc-900 hover:to-gray-700 hover:shadow-xl dark:bg-gradient-to-t sm:w-1/4;
  }
  .server-name {
    @apply text-lg font-semibold underline underline-offset-2;
  }
  .server-image {
    @apply h-40 w-full rounded-t-xl object-cover;
  }
  .server-members-count {
    @apply absolute bottom-0 left-0 m-2 flex items-center gap-x-2;
  }

  .join-button-tooltip {
    @include tooltip-arrow("right", rgb(24 24 27 / var(--tw-bg-opacity)));
    @apply absolute right-8 -top-1/3 origin-right scale-0 rounded-md bg-zinc-900 p-2  px-2  transition-all ease-in group-hover/join:scale-100;
  }
}
