/* Headers */
.markdown h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.markdown h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0 1rem;
}

.markdown h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1.25rem 0 1rem;
}

.markdown h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}

.markdown h5 {
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0.875rem 0 0.5rem;
}

.markdown h6 {
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0.75rem 0 0.5rem;
}

/* Paragraphs */
.markdown p {
  margin: 1rem 0;
  line-height: 1.5;
}

/* Lists */
.markdown ul,
.markdown ol {
  margin: 1rem 0;
  padding-left: 2rem;
}

.markdown li {
  margin: 0.5rem 0;
}

/* Links */
.markdown a {
  text-decoration: none;

  @apply font-bold text-blue-500 transition-all hover:text-blue-700;
}

.markdown a img {
  @apply inline-block h-auto max-h-96  w-auto  max-w-full  rounded border-2 border-zinc-900 object-cover shadow-sm transition-all hover:border-blue-400 hover:shadow-md hover:shadow-zinc-900;
}
.markdown a:hover {
  text-decoration: underline;
}
// .markdown img {
//   @apply rounded border-2 border-zinc-900 object-cover shadow-sm transition-all hover:border-blue-400 hover:shadow-md hover:shadow-zinc-900 w-12 max-h-60;
// }

/* Emphasis */
.markdown strong,
.markdown b {
  font-weight: bold;
}

.markdown em,
.markdown i {
  font-style: italic;
}
