@mixin tooltip-arrow($position, $color) {
  position: relative;
  display: inline-block;
  
  &::after {
    content: "";
    position: absolute;
    background-color: $color;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    
    @if $position == "top" {
      top: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    
    @if $position == "bottom" {
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    
    @if $position == "left" {
      top: 50%;
      left: -5px;
      transform: translateY(-50%) rotate(45deg);
    }
    
    @if $position == "right" {
      top: 50%;
      right: -5px;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
