@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@layer components {
  .login-input {
    @apply w-full rounded bg-gray-100
    p-1 pl-1 font-sans font-semibold 
    text-gray-500  placeholder-gray-500
    shadow-lg outline-none;
  }

  .content-container {
    @apply flex h-screen w-full   snap-y  snap-end  flex-col overflow-y-scroll  bg-gray-300 p-3 pb-14  dark:bg-zinc-700;
  }
  .content-list {
    @apply w-full pt-20;
  }

  .bottom-bar {
    @apply fixed    bottom-2  mx-10 flex h-14 w-8/12 rounded-lg bg-gray-400  transition  duration-300 ease-in-out dark:bg-zinc-800;
  }
  .bottom-bar-input {
    @apply ml-0 mr-auto w-full cursor-text bg-transparent font-semibold text-gray-500 placeholder-gray-500 outline-none;
  }

  .server-members-bar {
    @apply m-0  h-auto  w-80 overflow-hidden bg-gray-200 shadow-lg transition-all duration-300 dark:bg-zinc-800;
  }
  .server-members-bar-collapsed {
    @apply h-0 w-0 cursor-none overflow-hidden bg-zinc-800  opacity-0 transition-all duration-300;
  }

  .server-button {
    @apply flex  w-full  items-center  justify-between rounded-sm    p-2 text-zinc-300 transition-all duration-300 ease-linear hover:bg-indigo-600 hover:text-white;
  }
}

/* Sidebar */
@layer components {
  .sidebar {
    @apply fixed  top-0 left-0 z-50 flex max-h-screen min-h-screen w-16 flex-col  bg-gray-200 shadow-lg dark:bg-zinc-900;
  }
  .sidebar-hr {
    @apply mx-2 rounded-full border border-gray-700 bg-gray-800;
  }
  .sidebar-icon {
    @apply relative mx-auto mt-2 mb-2 
    flex h-12 w-12 cursor-pointer items-center  
    justify-center rounded-3xl bg-gray-400 
  text-green-500 shadow-lg
  
    transition-all duration-300 
    ease-linear hover:rounded-xl hover:bg-green-600
    hover:text-white dark:bg-gray-800;
  }

  .sidebar-tooltip {
    z-index: 9999 !important;
    @apply absolute left-14 z-50 m-2 w-auto min-w-max origin-left scale-0 rounded-md
    bg-zinc-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100;
  }
  .sidebar-user-tooltip {
    @apply absolute bottom-12 z-50 m-2 w-96  min-w-max  origin-bottom-left rounded-md   bg-zinc-900
    text-xs  
    font-bold text-white 
    shadow-lg shadow-zinc-900 transition-all duration-100;
  }
}
/* Top Navigation */
@layer components {
  .top-navigation {
    max-width: 100%;
    width: 51.1rem;
    @apply fixed  z-10    ml-1.5  flex h-16
    flex-row items-center justify-evenly rounded-lg 
    bg-gray-300 bg-opacity-90 
    shadow-lg 
    dark:bg-zinc-800;
  }

  .top-navigation-icon {
    @apply mr-3
    ml-4 cursor-pointer
    text-gray-500 transition duration-300 
    ease-in-out 
    hover:text-pink-400;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply my-auto ml-2 text-lg font-semibold 
    tracking-wider text-gray-500;
  }

  .title-text {
    @apply my-auto mr-auto ml-2 text-xl font-semibold 
    tracking-wider text-gray-500 text-opacity-80 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply z-10 ml-0 mr-0 flex h-9 
    w-1/5 items-center
    justify-start
    rounded-md bg-gray-400 px-2 text-gray-500 
    shadow-md transition
    duration-300 ease-in-out dark:bg-gray-600;
  }

  .search-input {
    @apply w-full rounded bg-transparent
    pl-1 font-sans 
    font-semibold  text-gray-500
    placeholder-gray-500 outline-none;
  }
}

/* Channels Bar */
@layer components {
  .channel-bar {
    @apply m-0 h-auto w-80  bg-gray-200 shadow-lg dark:bg-zinc-800;
  }

  .channel-container {
    @apply m-0 flex h-16 flex-col items-center justify-start p-0;
  }

  .channel-block {
    @apply m-0 flex h-16 items-center justify-center p-0;
  }

  .channel-block-text {
    @apply my-auto  mr-auto ml-4 align-middle text-lg font-bold tracking-wide text-gray-600 dark:text-gray-400;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply mx-0 flex cursor-pointer flex-row items-center justify-evenly text-gray-500;
  }

  .dropdown-header-text {
    @apply cursor-default  text-lg 
    font-semibold text-gray-500
    text-opacity-90;
  }

  .dropdown-header-text-selected {
    @apply text-lg font-bold text-blue-500 text-opacity-90;
  }

  .dropdown-selection {
    @apply mt-1 mr-auto ml-2 flex 
    cursor-pointer flex-row items-center
    justify-evenly transition duration-300
    ease-in-out;
  }

  .dropdown-selection-text {
    @apply mr-auto cursor-pointer font-semibold
    tracking-wide 
     transition duration-300 
    ease-in-out hover:text-pink-500
    dark:hover:text-green-500;
  }
}

/* Message Content */
@layer components {
  .post {
    @apply m-0  flex w-full cursor-pointer flex-row items-center justify-evenly rounded-sm py-4 px-8 transition-all
   hover:bg-zinc-800
    hover:bg-opacity-50
    hover:shadow-md
    hover:transition-all;
  }
  .post-filtered {
    @apply m-0   flex w-full cursor-pointer flex-row items-center justify-evenly rounded-sm bg-gray-800 py-4 px-8 
 transition-all
    hover:bg-opacity-50
    hover:shadow-md
    hover:transition-all;
  }

  .post-content {
    @apply ml-auto flex w-4/5 flex-col justify-start;
  }

  .post-options {
    border: 1px solid black;
    @apply flex gap-x-2 rounded  border-zinc-900  bg-zinc-700 p-1 shadow-xl transition-all;
  }
  .post-icon-tooltip {
    @apply absolute bottom-8 z-50  w-auto min-w-max origin-left scale-0 rounded-md
    bg-zinc-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100
    group-hover/item:scale-100;
  }
  .post-icon-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .avatar-wrapper {
    @apply m-0 ml-auto mb-auto flex w-12 flex-col items-center;
  }

  .avatar {
    @apply mx-0  mb-auto mt-0 h-12 w-12  cursor-pointer rounded-full bg-gray-100 object-cover object-top shadow-md shadow-zinc-500 dark:shadow-zinc-900;
  }

  .post-owner {
    @apply font-bold  text-red-500;
  }

  .timestamp {
    @apply ml-3 font-normal text-black dark:text-gray-300;
  }

  .post-text {
    @apply text-lg font-semibold dark:text-gray-300;
  }
}


.server-selection::-webkit-scrollbar {
  display: none;

  background-color: transparent;
}
.server-selection::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-transparent;
}

.sidebar::-webkit-scrollbar {
  width: 2px;
  height: 2px;

  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;

  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}

/* Loader */

.loader {
  border: 10px solid #eef0f1;
  border-top: 10px solid #3b49df;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  /* @apply border-8 border-green-500 border-t-8 w-40 h-40  */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 .text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
  text-shadow: none;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}